* {
  margin:0;
}

h1 {
  color:red;
}

/* #food a {
  text-decoration: none;
  color: black;
  font-family: cursive;
  background-color: blue;
}

#cars a {
  text-decoration: none;
  color:black;
}

#cars {
  padding-inline-start:0px;
  list-style-type: none;
  background: linear-gradient(to left, green, blue, red);
  text-align: right;

}

#cars li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
} */
