* {
  margin:0;
  font-family: "Helvetica","Arial",sans-serif;
}

header {
  background-color: black;
}

header h1 {
  color: rgb(99,200,185);
  padding:30px 10px;
}

nav {

}

.navbar {
  list-style-type: none;
  padding-left:0px;
}

.navbar li {
  display: inline-block;
  padding: 10px;
  padding-right: 0px;
}

.navbar li a {
  color:black;
}

section {
  background-color: rgb(99,200,185);
  padding:10px;
  margin:5px;
}

section h3 {
  padding:15px 0px;
}

article {
  background-color: lightgrey;
  padding:30px 10px;
  margin-top:10px;
}

footer {
    background-color: black;
  }

footer h5 {
    color: rgb(99,200,185);
    padding:30px 10px;
  }
